@* @page "/detalleProducto/{ProductoId}"

@using Microsoft.AspNetCore.Identity
@using ProyectoEcommerceAP1.Data.Models

@using ProyectoEcommerceAP1

@using System.ComponentModel.DataAnnotations


@inject HttpClient httpClient
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Http.HttpContext HttpContext


@using Shared.Models
@using System.Net.Http.Json

@rendermode InteractiveServer

@if (producto != null)
{
    <div class="container text-center">
        <div class="card">
            <div class="media">
                <div class="img-container">
                    @if (producto.ImagenProducto != null)
                    {
                        <img src="@producto.ImagenProducto" alt="Imagen del producto" class="img-fluid" />
                    }
                </div>

                <div class="media-body">
                    <h2 class="mb-0">@(producto != null ? producto.Nombre : "Producto no encontrado")</h2>
                    <p>@producto.Descripcion</p>
                    @if (producto.Precio > producto.PrecioOferta)
                    {
                        <h6 class="text-muted original-price">RD$ @producto.Precio</h6>
                    }
                    else
                    {
                        <h6>RD$ @producto.Precio</h6>
                    }

                    <h4 class="price">
                        RD$ @producto.Precio
                    </h4>

                    <button @onclick="AgregarCarrito" type="button" class="btn btn-outline-primary"><i class="bi bi-cart"></i> Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public Productos producto { get; set; }

    [Parameter]
    public string ProductoId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CargarProducto();
    }

    private async Task CargarProducto()
    {
        var response = await httpClient.GetFromJsonAsync<Productos>($"api/Productos/{ProductoId}");
        if (response != null)
        {
            producto = response;
        }
    }

    public async Task AgregarCarrito()
    {
        if (producto != null)
        {
            var user = await SignInManager.UserManager.GetUserAsync(HttpContext.User);

            if(user != null)
            {
                var carrito = new Carrito
                {
                    UserId = user.Id,
                    Total = 2444
                };

                var itemCarrito = new ItemCarrito
                {
                    ProductoId = producto.ProductoId,
                    Cantidad = 1,
                    SubTotal = producto.PrecioOferta
                };

                carrito.Items.Add(itemCarrito);

                var response = await httpClient.PostAsJsonAsync("api/Carrito", carrito);

                if (!response.IsSuccessStatusCode)
                {
                    return;
                }
                else
                {
                    //producto agregado con exito
                }

                if(producto != null)
                {
                    if (producto.EnCarrito == true)
                    {
                        // Mensaje indicando que el producto ya está en el carrito
                    }
                    else
                    {
                        producto.EnCarrito = true;

                        var response2 = await httpClient.PutAsJsonAsync($"api/Productos/{producto.ProductoId}", producto);

                        if (!response2.IsSuccessStatusCode)
                        {
                            return;
                        }
                        else
                        {
                            //producto marcado como agregado al carrito
                        }
                        StateHasChanged();
                    }
                }


            }
            // var cliente = await ObtenerClienteAsync(2);

            // if(cliente != null)
            // {
            //     var carrito = new Carrito
            //         {
            //             ClienteId = 2,
            //             Cliente = cliente,
            //             Total = 23784
            //         };

            //     var itemCarrito = new ItemCarrito
            //         {
            //             ProductoId = producto.ProductoId,
            //             Producto = producto,
            //             Cantidad = 1,
            //             SubTotal = producto.PrecioOferta 
            //         };

            //     carrito.Items.Add(itemCarrito);


            //     var response = await httpClient.PostAsJsonAsync("api/Carrito", carrito);

            //     if (!response.IsSuccessStatusCode)
            //     {
            //         return;
            //     }
            //     else
            //     {
            //         //se agrego el producto al carrito
            //     }

            //     if (producto != null)
            //     {
            //         if (producto.EnCarrito == true)
            //         {
            //             //mensaje de que ya ha sido agregado al carrito
            //         }
            //         else
            //         {
            //             producto.EnCarrito = true;

            //             var response2 = await httpClient.PutAsJsonAsync($"api/Productos/{producto.ProductoId}", producto);

            //             if (!response2.IsSuccessStatusCode)
            //             {
            //                 return;
            //             }
            //             else
            //             {
            //                 //todo bien
            //             }
            //             StateHasChanged();
            //         }
            //     }
            // }
        }
    }

    private async Task<Clientes> ObtenerClienteAsync(int clienteId)
    {
        var response = await httpClient.GetFromJsonAsync<Clientes>($"api/Clientes/{clienteId}");

        return response;
    }
} *@