@page "/registroProducto"

@inject HttpClient httpClient
@inject NotificationService notificationService

@rendermode InteractiveServer

<RadzenNotification />
<div class="container">
    <div class="card">
        <EditForm Model="producto" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />

            <div class="card-header">
                <h3>Registro de productos</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <label>Producto Id</label>
                        <div class="input-group mb-3">
                            <InputNumber @bind-Value="ProductoId" class="form-control" aria-describedby="botonBuscar" min="0"></InputNumber>
                            <button type="button" @onclick="Buscar" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    
                    <div class="col-3">
                        <label>Fecha</label>
                        <div class="input-group mb-3">
                            <InputDate class="form-control" @bind-Value="producto.FechaEntrada"></InputDate>
                            <ValidationMessage For="@(() => producto.FechaEntrada)"></ValidationMessage>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-3">
                        <label>Nombre</label>
                        <div class="input-group mb-3">
                            <InputText @bind-Value="producto.Nombre" class="form-control"></InputText>
                            <ValidationMessage For="@(() => producto.Nombre)"></ValidationMessage>
                        </div>
                    </div>


                    <div class="col-3">
                        <label>Descripcion</label>
                        <div class="input-group mb-3">
                            <InputTextArea @bind-Value="producto.Descripcion" class="form-control"></InputTextArea>
                            <ValidationMessage For="@(() => producto.Descripcion)"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-2">
                        <label>Cantidad del producto</label>
                        <div class="input-group mb-3">
                            <InputNumber class="form-control" @bind-Value="producto.CantidadProducto" min ="1"></InputNumber>
                            <ValidationMessage For="@(() => producto.CantidadProducto)"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <label>Precio</label>
                        <div class="input-group mb-3">
                            <InputNumber class="form-control" @bind-Value="producto.PrecioOferta" min="1"></InputNumber>
                            <ValidationMessage For="@(() => producto.PrecioOferta)"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Categorias</label>
                        <div class="input-group mb-3">
                            <InputSelect class="form-select" @bind-Value="producto.CategoriaId">
                                <option value="0" disabled selected>Selecciona una categoria</option>
                                @foreach(var categoria in L_Categorias)
                                {
                                    <option value="@categoria.CategoriaId">@categoria.NombreCategoria</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <label class="form-label @(MensajeErrorImagen == ""?"":"text-danger")">
                            @(MensajeErrorImagen == "" ? "Imagen del producto" : MensajeErrorImagen)
                        </label>
                        <InputFile class="form-control" OnChange="InsertarImagen"></InputFile>
                        <ValidationMessage For="@(() => producto.ImagenProducto)"></ValidationMessage>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo  <i class="bi bi-file-earmark"></i></button>
                        <button type="submit" class="btn btn-outline-success">Guardar  <i class="bi bi-file-earmark-check-fill"></i></button>
                        <button type="button" class="btn btn-outline-danger">Eliminar  <i class="bi bi-trash3"></i></button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>







@code {

    [Parameter]
    public int ProductoId { get; set; }

    [SupplyParameterFromForm]
    public Productos producto { get; set; } = new Productos();

    public IEnumerable<Categorias> L_Categorias { get; set; } = Enumerable.Empty<Categorias>();

    string MensajeErrorImagen = "";

    public NotificationMessage Mensaje { get; set; } = new NotificationMessage();

    protected override async Task OnInitializedAsync()
    {
        await CargarCategorias();

        if(ProductoId > 0)
        {
            producto.ProductoId = ProductoId;
            await Buscar();
        }
    }

    private async Task CargarCategorias()
    {
        var categoriaEncontrada = await httpClient.GetFromJsonAsync<IEnumerable<Categorias>>("api/Categorias");

        if(categoriaEncontrada != null)
        {
            L_Categorias = categoriaEncontrada;
        }
    }

    public async Task Buscar()
    {
        if (ValidarBuscar())
        {
            Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error al buscar",
                    Detail = "El producto Id no puede ser negativo o la fecha no puede ser mayor al dia de hoy",
                    Duration = 5_000
                };
            notificationService.Notify(Mensaje);
            return;
        }

        var productoEncontrado = await httpClient.GetFromJsonAsync<Productos>($"api/Productos/{ProductoId}");

        if(productoEncontrado != null)
        {
            producto = productoEncontrado;
            StateHasChanged();
        }
        else
        {
            Mensaje = new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error al buscar un producto",
                Detail = "Ha ocurrido un error a la hora de buscar un producto",
                Duration = 5_000
            };
            notificationService.Notify(Mensaje);
            return;
        }
    }

    public async void Guardar()
    {
        if (Validar())
        {
            Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error al guardar",
                    Detail = "El producto Id no puede ser negativo o la fecha no puede ser mayor al dia de hoy",
                    Duration = 5_000
                };
            notificationService.Notify(Mensaje);
            return;
        }
        producto.Precio = producto.PrecioOferta;
        using var response = await httpClient.PostAsJsonAsync("api/Productos", producto);

        if (!response.IsSuccessStatusCode)
        {
            Mensaje = new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary ="Error al guardar",
                Detail = "Ha ocurrido un error a la hora de guardar",
                Duration = 5_000
            };
            notificationService.Notify(Mensaje);
            return;
        }

        var productoDevuelto = await response.Content.ReadFromJsonAsync<Productos>();

        if(productoDevuelto is not null)
        {
            producto = productoDevuelto;
            StateHasChanged();
            Nuevo();
            productoDevuelto = new Productos();

            Mensaje = new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Exito al guardar",
                Detail = "El producto se ha guardado exitosamente",
                Duration = 5_000
            };
            notificationService.Notify(Mensaje);
            return;
        }
    }

    public void Nuevo()
    {
        this.producto = new Productos();
        Mensaje = new NotificationMessage
            {
                Severity = NotificationSeverity.Info,
                Summary = "Se ha limpiado el formulario",
                Detail = "Ahora puede rellenar nuevamente el formulario",
                Duration = 5_000
            };
        notificationService.Notify(Mensaje);
        return;
    }

    public async Task Eliminar()
    {
        using var response = await httpClient.DeleteAsync($"api/Productos/{producto.ProductoId}");

        if (!response.IsSuccessStatusCode)
        {
            Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error al eliminar",
                    Detail = "Ha ocurrido un error a la hora de eliminar",
                    Duration = 5_000
                };
            notificationService.Notify(Mensaje);
            return;
        }
        else
        {
            Nuevo();
            Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Exito al eliminar",
                    Detail = "Ha eliminado el producto correctamente",
                    Duration = 5_000
                };
            notificationService.Notify(Mensaje);
            return;
        }
    }

    async Task InsertarImagen(InputFileChangeEventArgs e)
    {
        if (e.File.Name.ToLower().Contains(".png"))
        {
            var format = "image/png";
            var resizeImage = await e.File.RequestImageFileAsync(format, 300, 300);
            var buffer = new byte[resizeImage.Size];
            await resizeImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            MensajeErrorImagen = "";
            producto.ImagenProducto = imageData;
            imageData = "";
            return;
        }

        MensajeErrorImagen = "Se necesita un archivo PNG.";
        return;
    }


    public bool Validar()
    {
        return ProductoId < 0 || 
                producto.FechaEntrada > DateTime.Now;
    }

    public bool ValidarBuscar()
    {
        return ProductoId <= 0 ||
                producto.FechaEntrada > DateTime.Now;
    }
}
